.hero-text-section {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-text-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .hero-text-section {
    opacity: 0;
  }
}
