@font-face {
  font-family: 'Tektur';
  src: url('./assets/fonts/Tektur-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tektur';
  src: url('./assets/fonts/Tektur-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: 'Tektur', sans-serif;
  background-color: #0a0a0a; /* Dark background like Katana */
  color: #ffffff;
}
